doctype html
html(lang="en")
  head
    title Landing Page
  body
    h1 The future home of something magical 
    p Kimberly Dixon is the best girlfriend in the world. I dont care. Don't @ me.
    h2 I can't wait to get my sunglasses today
    p They will be really cool
        li Reasons why my glasses will be cool
            ul they look good
            ul they will protect my eyes
            ul they say big daddy